<div class="login-form">
    <form>

        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control-range" name="nombre" placeholder="Ingrese Nombre" [(ngModel)] = "cliente.nombre">
        </div>

        <div class="form-group">
            <label>Apellido</label>
            <input type="text" class="form-control-range" name="apellido" placeholder="Ingrese Apellido" [(ngModel)] = "cliente.apellido">
        </div>
        <div class="form-group">
            <label>Rut</label>
            <input type="text" class="form-control-range" name="rut" placeholder="Rut" [(ngModel)] = "cliente.rut">
        </div>
        <div class="form-group">
            <label>Descripcion</label>
            <input type="text" class="form-control-range" name="descripcion" placeholder="Descripcion" [(ngModel)] = "cliente.descripcion">
        </div>
        <div class="form-group">
            <label>Valor</label>
            <input type="text" class="form-control-range" name="valor" placeholder="Valor" [(ngModel)] = "cliente.valor">
        </div>
        <label>Situacion Deuda</label>
        <div>
            <input type="text" class="form-control-range" name="situacion" placeholder="situacion" [(ngModel)] = "cliente.situacion">
        </div>
        <div>

        </div>
        <div>
            <input type="submit" value="Editar" class="btn btn-primary btn-sm btn-block" routerLink='/editar'>
            <!-- <button type="button" class="btn btn-primary btn-sm btn-block" routerLink='/verPersona'>Agregar</button> -->
        </div>
    </form>
</div>