
<div>
    <div class="btn btn-secondary">
        <button type="button" class="btn btn-secondary btn-sm btn-block" routerLink = "/inicio">Inicio</button>
    </div>
    <div class="btn btn-secondary">
        <button type="button" class="btn btn-secondary btn-sm btn-block" routerLink = "/agregar">Agregar</button>
    </div>
    <div class="btn btn-secondary">
        <button type="button" class="btn btn-secondary btn-sm btn-block" routerLink = "/verPersona">Ver Clientes</button>
    </div>
    <div class="btn btn-secondary">
        <button type="button" class="btn btn-secondary btn-sm btn-block" [routerLink] = "['/']">Cerrar Sesion</button>
    </div>
</div>


