<div >
    <nav class="navbar navbar-light" style="background-color: white">
        <div>
            <img src="../assets/img/Screenshot_1.png">
        </div>
    </nav>
</div>
<div class="progress">
    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
<div>
    <router-outlet></router-outlet>
</div>
<div>
    <footer>
        <div>
            Proyecto Final Everis 2020
        </div>
    </footer>
</div>


