<div class="login-form">
    <form (ngSubmit)="onSubmit(clientForm)" #clientForm="ngForm" novalidate="">

        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control-range" name="nombre" ngModel placeholder="Ingrese Nombre">
        </div>

        <div class="form-group">
            <label>Apellido</label>
            <input type="text" class="form-control-range" name="apellido" ngModel placeholder="Ingrese Apellido">
        </div>
        <div class="form-group">
            <label>Rut</label>
            <input type="text" class="form-control-range" name="rut" ngModel placeholder="Rut">
        </div>
        <div class="form-group">
            <label>Descripcion</label>
            <input type="text" class="form-control-range" name="descripcion" ngModel placeholder="Descripcion">
        </div>
        <div class="form-group">
            <label>Valor</label>
            <input type="text" class="form-control-range" name="valor" ngModel placeholder="Valor">
        </div>
        <label>Situacion Deuda</label>
        <div>
            <!-- <select class="form-control-range">
                    <option value="Moroso">Pago Atraso</option>
                    <option value="Al Dia">Al Dia</option>
                </select> -->
            <input type="text" class="form-control-range" name="situacion" ngModel placeholder="situacion">
        </div>
        <div>

        </div>
        <div>
            <input type="submit" value="Agregar" class="btn btn-primary btn-sm btn-block">
            <!-- <button type="button" class="btn btn-primary btn-sm btn-block" routerLink='/verPersona'>Agregar</button> -->
        </div>
    </form>
</div>